USE  mysql;
ALTER USER 'root'@'localhost' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}';
FLUSH PRIVILEGES;


CREATE DATABASE ${MYSQL_DATABASE};
USE  ${MYSQL_DATABASE};
CREATE USER ${MYSQL_USER}@'%';
GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO ${MYSQL_USER}@'%' IDENTIFIED BY '${MYSQL_PASSWORD}';
FLUSH PRIVILEGES;
exit;